@charset "UTF-8";

:root {
    --cor-destaque: #5333ed;
}

body {
    margin: 0;
    background-color: #f1f1f1;
}

@font-face {
    font-family: "negrito";
    src: url(./fonts/KumbhSans-Bold.ttf);
}

@font-face {
    font-family: "padrao";
    src: url(./fonts/KumbhSans-Regular.ttf);
}

/*MARCA*/

#marca {
    background-color: white;
    padding: 10px;
    text-align: center;
}

#marca * {
    vertical-align: middle;
}

#marca img {
    width: 80px;
    margin-right: 10px;
}

#marca span {
    font-family: "negrito";
    font-size: 150%;
    color: var(--cor-destaque);
}

/*HEADER*/

#header {
    background-image: linear-gradient(to right, #4d13d1, #59abe3);
    padding: 50px 10px 30px 30px;
    color: white;
    text-align: center;
}

#boasVindas {
    font-family: "negrito";
    font-size: 500%;
    display: block;
}

#slogan {
    font-family: "padrao";
    font-size: 200%;
}

/*CONTAINER*/

#container {
    padding: 10px;
    display: flex;
    margin-top: 20px;
}

/* SEÇÃO DA ESQUERDA */

#esquerda {
    width: 60%;
    padding: 10px;
}

#lancamentos {
    font-family: "negrito";
    font-size: 200%;
}

#novolancamento {
    float: right;
    border: none;
    background-color: var(--cor-destaque);
    color: white;
    font-size: 200%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

#arealancamentos {
    margin-top: 30px;
}

.blocolancamento {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.blocolancamento img {
    width: 50px;
}

.descricaolancamento {
    float: right;
    text-align: right;
}

.descricaolancamento span {
    display: block;
    font-family: "padrao";
}

.valor {
    font-family: "negrito" !important;
    font-size: 200%;
}

.gasto {
    color: red;
}

.entrada {
    color: #164e08;
}

/*SEÇÃO DIREITA */

#direita {
    background-color: white;
    border-radius: 20px;
    width: 40%;
    padding: 30px;
    text-align: right;
    font-family: "negrito";
}

#direita img {
    width: 30px;
    display: block;
}

#labelrenda {
    font-size: 250%;
    display: block;
}


#renda {
    font-size: 500%;
}

/*FORMULARIO*/

#formulariolancamento {
    display: none;
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: "padrao";
}

#formulariolancamento input {
    display: block;
    margin: 5px 0px 20px 0px;
    border: 1px solid black;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-family: "padrao";
    font-size: 110%;
}

#descricao {
    width: 70%;
}
#botaolancar {
    border: none;
    outline: none;
    background-color: var(--cor-destaque);
    color: white;
    font-family: "negrito";
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 130%;
}